@media screen and (max-width: 768px) {
    .navbar {
        width: 95%;
    }
    .content h1 {
        font-size: 48px;
    }
    .content p {
        font-size: 16px;
    }
    button {
        width: 160px;
        padding: 10px 0;
        font-size: 14px;
    }
}

.navbar {
    width: 85%;
    margin: auto;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

* {
    background-color: black;
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background-color: #1DB954;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;
}

p.title {
    color: #1DB954;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
    position: relative;
    margin-right: auto;
}

footer {
    color: #fff;
    text-align: center;
    padding: 10px;
    background-color: black;
}

footer a {
    color: #1DB954;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

h1 {
    color: #1DB954;
    flex-grow: 1;
    padding: 20px;
    text-align: center;
    margin-top: 30px;
}

@keyframes bounceH1 {
    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-20px);
    }
    60% {
        transform: translateY(-10px);
    }
}

h1 {
    font-size: 40px;
    animation: bounceH1 2s infinite;
    animation-iteration-count: infinite;
}

table {
    width: 70%;
    border-collapse: collapse;
    background-color: black;
    margin: auto;
}

th,
td {
    padding: 2px;
    text-align: center;
    color: white;
    border-bottom: 1px solid #1DB954;
}

th {
    background-color: black;
    font-weight: normal;
}

td {
    background-color: black;
}

.song-title a {
    color: #1DB954;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.song-title a:hover {
    text-decoration: underline;
    color: #fff;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    text-align: center;
    color: #1DB954;
    padding-bottom: 100px;
    margin-bottom: 20px;
    flex: 1;
}

img {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}